
body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

h2{ color:rgb(46, 129, 253);}   

section{ margin-left:  20px;}

#name{
    background-color: rgb(46, 129, 253);
    text-align: center;
    color: white;
    padding: 1px 5px  12px 12px;
}
.skill{
    background-color: rgba(212, 209, 209, 0.842);
    border:none;
    width: 60%;
    padding: 12px 0px;
}
.project{
    border-radius: 4px;
    padding: 30px 2px;
    border: 1px solid #ccc;
    
}

.inputbox{
    width: 19%;
    margin-top: 7px;
    padding :5px ;
    
}

input[type=submit]{
    cursor: pointer;
    position: relative;
    background-color:rgb(46, 129, 253) ;
    height: 40px;
    width: 260px;
    color: white;
    border-color: rgb(46, 129, 253);
}
